# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Default values for onlineboutique.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

images:
  #repository: us-central1-docker.pkg.dev/google-samples/microservices-demo
  repository: ghcr.io/henrywhitakercommify
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

serviceAccounts:
  # Specifies whether service accounts should be created.
  create: true
  # Annotations to add to the service accounts.
  annotations: {}
  # Annotations to add only for the cartservice app. This allows to follow the least privilege principle where only cartservice needs to connect to external database for example via Workload Identity.
  annotationsOnlyForCartservice: false

networkPolicies:
  # Specifies if the NetworkPolicies are created or not. If true, one fine granular NetworkPolicy per app is created.
  create: false

sidecars:
  # Specifies if the Sidecars are created or not. If true, one fine granular Sidecar per app is created.
  create: false

authorizationPolicies:
  # Specifies if the AuthorizationPolicies are created or not. If true, one fine granular AuthorizationPolicy per app is created.
  create: false

topologySpreadConstraints: []

tracing:
  enabled: false
  endpoint: ""

opentelemetryCollector:
  create: false
  name: opentelemetrycollector
  # Specifies the project id for the otel collector. If set as "PROJECT_ID" (default value), an initContainer will automatically retrieve the project id value from the metadata server.
  projectId: "PROJECT_ID"

googleCloudOperations:
  profiler: false
  tracing: false
  metrics: false

seccompProfile:
  enable: false
  type: RuntimeDefault

securityContext:
  enable: true

adService:
  create: true
  replicas: 2
  name: adservice
  resources:
    requests:
      cpu: 200m
      memory: 180Mi
    limits:
      memory: 300Mi

cartService:
  create: true
  replicas: 2
  name: cartservice
  resources:
    requests:
      cpu: 200m
      memory: 128Mi
    limits:
      memory: 256Mi

checkoutService:
  create: true
  replicas: 2
  name: checkoutservice
  autoscaling:
    enabled: true
    maxReplicas: 5
    query: "sum:trace.grpc.server.request.hits{service:demo-checkoutservice}.as_rate().rollup(sum, 5)"
    queryValue: 100
    metricUnavailable: 0
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      memory: 128Mi

currencyService:
  create: true
  replicas: 2
  name: currencyservice
  autoscaling:
    enabled: true
    maxReplicas: 5
    query: "sum:trace.grpc.server.request.hits{service:demo-currencyservice}.as_rate().rollup(sum, 5)"
    queryValue: 200
    metricUnavailable: 0
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 256Mi

emailService:
  create: true
  replicas: 2
  name: emailservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      memory: 128Mi

frontend:
  create: true
  replicas: 2
  name: frontend
  externalService: true
  cymbalBranding: false
  # One of: local, gcp, aws, azure, onprem, alibaba. When not set, defaults to "local" unless running in GKE, otherwise auto-sets to gcp.
  platform: local
  singleSharedSession: false
  autoscaling:
    enabled: true
    maxReplicas: 15
    query: "sum:trace.http.server.request.hits{service:demo-frontend}.as_rate().rollup(sum, 5)"
    queryValue: 50
    metricUnavailable: 0
  rollout:
    analysis:
      enabled: true
    steps:
      - setWeight: 25
      - pause: {}
          #duration: 15
      - setWeight: 50
      - pause:
          duration: 15
      - setWeight: 75
      - pause:
          duration: 15
      - setWeight: 100
  virtualService:
    create: false
    hosts:
      - "*"
    gateway:
      name: asm-ingressgateway
      namespace: asm-ingress
      labelKey: asm
      labelValue: ingressgateway
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      memory: 128Mi

  ingress:
    enabled: false
    host: ""
    annotations: {}
    ingressClassName: ""

loadGenerator:
  create: true
  name: loadgenerator
  checkFrontendInitContainer: true
  resources:
    requests:
      cpu: 300m
      memory: 256Mi
    limits:
      memory: 512Mi

paymentService:
  create: true
  replicas: 2
  name: paymentservice
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 256Mi

productCatalogService:
  create: true
  replicas: 2
  name: productcatalogservice
  autoscaling:
    enabled: true
    maxReplicas: 10
    query: "sum:trace.grpc.server.request.hits{service:demo-productcatalogservice}.as_rate().rollup(sum, 5)"
    queryValue: 150
    metricUnavailable: 0
  # Specifies an extra latency to any request on productcatalogservice, by default no extra latency.
  extraLatency: ""
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      memory: 128Mi

recommendationService:
  create: true
  replicas: 2
  name: recommendationservice
  autoscaling:
    enabled: true
    maxReplicas: 5
    query: "sum:trace.grpc.server.request.hits{service:demo-recommendationservice}.as_rate().rollup(sum, 5)"
    queryValue: 50
    metricUnavailable: 0
  resources:
    requests:
      cpu: 100m
      memory: 220Mi
    limits:
      memory: 450Mi

shippingService:
  create: true
  replicas: 2
  name: shippingservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      memory: 128Mi

cartDatabase:
  # Specifies the type of the cartservice's database, could be either redis or spanner.
  type: redis
  connectionString: "redis-cart:6379"
  inClusterRedis:
    create: true
    name: redis-cart
    # Uses the public redis image from Docker Hub, otherwise will use the images.repository.
    publicRepository: true
  externalRedisTlsOrigination:
    enable: false
    name: exernal-redis-tls-origination
    endpointAddress: ""
    endpointPort: ""
    certificate: ""

# @TODO: This service is not currently available in Helm.
# https://github.com/GoogleCloudPlatform/microservices-demo/tree/main/kustomize/components/shopping-assistant
shoppingAssistantService:
  create: false
  name: shoppingassistantservice
